---
---

// Reset using Normalize
@import "normalize";

// Import fonts from Google
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);

// Site configuration
@import "config";

// Import Partials
@import "partials/typography";
@import "partials/mixins";

// Modules
@import "modules/buttons";
@import "modules/forms";
@import "modules/tables";
@import "modules/syntax";

// Mobile up base styles
@import "breakpoints/mobileup";

// Import media queries add more as you desire
@media only screen and (min-width: 800px) {
	@import "breakpoints/800up";
}
@media only screen and (min-width: 1200px) {
	@import "breakpoints/1200up";
}

// If IE support is needed you can add them here or create another stylesheet for specific IE fixes
.member-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(64px, 100%/4)), 1fr));
	gap: 30px 30px;
	align-content: space-evenly;
}

.collaboration-member {
	width: 100%;
	height: 100%;
	max-width: 512px;
	text-align: center;
	background-color: #f0f0f0;
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 20px;
}

img.collaboration-member-portrait {
	border-radius: 50%;
	margin-top: 0px;
	margin-bottom: 0px;
	aspect-ratio: 1/1;
	object-fit: cover;
	width: 128px;
}

.collaboration-member-name {
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

.collaboration-member-pronouns {
	font-weight: light;
	margin-top: -8px;
	margin-bottom: 0px;
	font-style: italic;

}

.collaboration-member-affiliation {
	margin-top: 0px;
	margin-bottom: 0px;
}

.collaboration-member-affiliation-link {
	color: black;
	text-decoration: none;
}

.collaboration-member-icons {
	margin-top: 0px;
	margin-bottom: 0px;
}

a.github-link {
	text-decoration: none;
	color: black;
}

span.publication-title {
	font-weight: bold;
	display: block;
}

span.author-list {
	display: block;
}

span.journal-reference {
	display: block;
}

span.links {
	display: block;
}

.supporter-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/5)), 1fr));
	gap: 30px 30px;
	align-content: space-evenly;
}

.supporter-entry {
	width: 100%;
	height: 100%;
	max-width: 512px;
	text-align: center;
	background-color: #f0f0f0;
	padding: 12px;
	border-radius: 20px;
}

.supporter-logo {
	width: 90%;
	max-height: 96px;
}

.supporter-text {
	margin: 0px;
}

.logo-float {
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-55%);
	margin-right: 50px;
	height: calc(25% + 25px);
}
